@import '../breakpoints.scss';

.cardContainer {
    display: flex;
    background: rgb(235, 235, 235);
}

.card {
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 10%);
    padding: 1rem;
    width: 100%;
    height: auto;

    @include xs-landscape {
      background: red;
    }
    @include xs-portrait {
      background: green;
    }
    

    
    .title {
      font-size: 2em;
      margin-bottom: 1rem;
    }
    .description {
      font-size: 1em;
    }
    &:hover {
      background: rgb(235, 235, 235);
      cursor: pointer;
    }
}